---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>🧑‍🚀 Hello, Astronaut!</h1>
			<p>
				Hi, I'm Dr. Anjali, a researcher in evolutionary genetics, genomics, and microbiome.
			</p>
			<p>
				I work on understanding host-microbe interactions using sequencing and data analysis, with experience in genome assembly, microbiome studies, and R-based workflows.

				Beyond research, I simplify PhD life and complex scientific concepts for a growing community of students and researchers.
			</p>
			<p>What You'll Find Here?</p>
		</main>
		<Footer />
	</body>
</html>
